* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}
a 
{
	text-decoration: none;
	color: inherit;
}
img
{
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6
{
	font-weight:inherit;
	font-size:inherit;
}
.wrapper
{
	min-height: 100%;
	overflow: hidden;
}
html,body 
{
	line-height: 1;
	color: orange;
	text-shadow: 2px 2px 2px rgb(0 0 255);
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 800;
	height: 100%;
	width: 100vw;
}
.container
{
	max-width: 1280px;
	height: 100%;
	margin: 0px auto;
}
p,li
{
	text-indent: 2em;
}
.block
{
	height:max-content;
	width: 100%;
}
#block_1
{
	height:max-content;
	width: 100%;
	background-image: url(../../src/images/1.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}
#block_2
{
	background: linear-gradient(180deg, rgb(200 128 0), rgb(180 110 0));
}
#block_3
{
	background: linear-gradient(180deg, rgb(180 110 0), rgb(160 90 0));
}
#block_4
{
	background: linear-gradient(180deg, rgb(160 90 0), rgb(140 70 0));
}
#block_5
{
	background: linear-gradient(180deg, rgb(140 70 0), rgb(0 0 0));
}
.head
{
	position:fixed;
	width: 100%;
	height: max-content;
	background-color: black;
	z-index: 50;
}
.body
{
	width: 100%;
	height: max-content;
	padding-top: 360px;
	padding-bottom: 100px;
}
div#shadow
{
	height:max-content;
	width: 100%;
}
#shadow
{
	background-color: rgb(20 16 16 / 50%);
}
img.scroll-button
{
	width: 74px;
    height: 74px;
	margin-right: 50px;
	float: left;
	background-color: transparent;
	position: relative;
	z-index: 2;
	
}
ul.header
{	
	margin-left: 20px;
	list-style: none;
}
li.inline
{
	display: inline-block;
	width: 213px;
	position: relative;
	top: 15px;
	text-indent: none;
}

#social-icons
{
	float: right;
	font-size: 29px;
	position: relative;
	top: -8px;
	
}
#social-icons i {
}
#social-icons a:hover {
    box-shadow: 1vw 0.1vw 2vw rgba(10, 10, 10, 0.5);
}
#menu-button-container {
    position: fixed;
    top: 17px;
    right: 30px;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-button-line {
    width: 40px;
    height: 7px;
    background-color: orange;
    margin: 3px 0;
}

div.popup-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	z-index:1;
	background: linear-gradient(180deg, rgb(190 120 0), rgb(0 0 0));
}

#close-menu-button {
    position: absolute;
    top: 4vw;
    right: 4vw;
	font-size: 4vw;
	color: white;
    font-weight: 1000;
    border: none;
	background: transparent;
}
a.scroll-button { 
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color: orange; 
	position: relative;
	text-decoration: none;
	top: 20vh;
	margin-bottom: 10vh;
	z-index:3;
}

.scroll-button:hover 
{ 	
	color: transparent;
	transition: background-position 0.5s ease;
	background-image: linear-gradient(90deg, orange, black);
	background-clip: text;
	-webkit-background-clip: text; /* Для підтримки веб-переглядачів на основі WebKit */
	
	
	background-position: right;
}
.text-block
{	
	width: 60%;
	max-width: 60%;
	padding: 20px 20px;
	height:max-content;
	background: linear-gradient(to left, rgb(209 121 12 / 71%), rgb(84 57 27), rgb(0 0 0 / 82%));

}
.text-block-2
{	
	width: 100%;
	max-width: 100%;
	padding: 20px 20px;
	height:max-content;
	background: linear-gradient(to left, rgb(209 121 12 / 71%), rgb(84 57 27), rgb(0 0 0 / 82%));

}
p.aling-center
{
	text-align: center;
}
.header-text
{
	max-width: 60%;
	font-size: 32px;
	font-weight: 800;
	padding-bottom: 30px;
}
.block_img
{
	width: 40%;
	max-width: 40%;
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat;
}
.block_img img 
{
	width: 100%;
	height: 100%;
}
.block_line
{
	display: flex;
}
.block_line > div
{
	flex:1;
}
/*////////////////////////////////Block_3////////////////////////////////////////////////////////*/
.container_2 {
    max-width: 1280px;
	margin: 0px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container_2 .card {
    position: relative;
    cursor: pointer;
}

.container_2 .card .face {
    width: 300px;
    height: 350px;
    transition: 0.5s;
}

.container_2 .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(250px);
}

.container_2 .card:hover .face.face1 {
    background: linear-gradient(180deg, rgb(190 120 0), rgb(0 0 0));
    transform: translateY(0);
}

.container_2 .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container_2 .card:hover .face.face1 .content {
    opacity: 1;
}

.container_2 .card .face.face1 .content img {
    max-width: 100px;
}

.container_2 .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.container_2 .card .face.face2 {
    position: relative;
    background: linear-gradient(to left, rgb(209 121 12 / 71%), rgb(84 57 27), rgb(0 0 0 / 82%));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container_2 .card:hover .face.face2 {
    transform: translateY(0);
}

.container_2 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container_2 .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container_2 .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}
/*////////////////////////////////Block_4////////////////////////////////////////////////////////*/
